body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  color: #333;
}

.custom-file-upload {
  border: 2px dashed #007bff;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #f0f8ff;
}

.custom-file-upload img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

#status {
  margin: 15px 0;
  font-size: 1em;
  color: #007bff;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#upload {
  display: none;
}

#upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #555;
  font-size: 1.1em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

#upload-btn:hover {
  color: #007bff;
}
